* {
	margin: 0;
	padding: 0;
	font-family: MicroSoft YaHei;
}

.hd {
	width: 100%;
	height: 80px;
	background: #000;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 100%;	
}
.nav-list {
	display: flex;
	justify-content: flex-end;
}
.nav-list ul li {
	position: relative;
	margin-left: 50px;
	background:
 		url(https://github.com/Pangzhihui/test/blob/master/%E7%BF%BB%E8%AF%91/test/arrow.png?raw=true)
  		100% 50% no-repeat;
	padding-right: 30px;
	padding-left: 10px;
	color: #fff;
	font-size: 16px;
	height :80px;
	line-height :80px;
	display: inline-block;
	list-style: none;
}
.list {
	position: absolute;
    width: 130px;
    list-style: none;
    top: 80px;
    right: 0;
    z-index: 999;
    background-color: #303030;
    padding-right: 10px;
    display: none;
}
.list p {
	line-height :30px;
	text-align: right;
}
.banner {
	display: flex;
	justify-content: center;
	background: #2D7079;
	width: 100%;
	height: 260px;
	margin-bottom: 20px;
}
.bn-1,
.bn-2 {
	flex: 1;
}
.bn-1 {
	position: relative;
	background:
		url(https://github.com/Pangzhihui/test/blob/master/%E7%BF%BB%E8%AF%91/test/left.png?raw=true)
		100% 50% no-repeat;
}
.bn-2 {
	background:
		url(https://github.com/Pangzhihui/test/blob/master/%E7%BF%BB%E8%AF%91/test/right.png?raw=true)
		0 50% no-repeat;
}
.bn-text {
	position: absolute;
	width: 480px;
	top: 50px;
	right: 0;
	color: #fff;
}
.text-sm {
	font-size: 32px;
	opacity: .5;
}
.text-lg {
	font-size: 44px;
}
.ct {
	width: 960px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.nav-v {
	float: left;
	width: 250px;
	background: #DEDEDE;
	overflow-y: scroll;
	border: 1px solid #DDD;
}
.nav-v p,.subnav span {
	line-height: 35px;
	padding: 10px 30px 5px 30px;
	cursor:pointer;
}
.subnav {
	background: #FFF;
	text-align: center;
}
.subnav {
	background: #FFF;
	text-align: center;
	display: none;
}
.subnav span {
	display: block;
	
}
.table {
	float: right;
	width: 65%;
}
.tb {
	width: 95%;
	border-collapse: collapse;
	word-wrap: break-word; 
	word-break: break-all;
}
tr:nth-child(odd)>td,th {
	background: #DEDEDE;
}
th,
td {
	font-size: 14px;
	text-align: center;
	border: 1px solid #808080;	
	height: 30px;
	line-height: 35px;
}
.price-1 {
	color: #568522;
}
.price-2 {
	color: #4A90E2;
}
.price-3 {
	color: #D6273D;
}
.ft{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 14px;
}

.fixnav {
	position: fixed;
	top:0;
	background: #DEDEDE;
	z-index: 2;
}
.btn-edit {
	margin-right:10px;
}
.edit,.delete {
	position: fixed;
	top:300px;
	left:300px;
	height:150px;
	width:250px;
	padding: 20px 30px;
	border: 1px solid #DDD;
	background: #FFF;	
	z-index: 999;
	display: none;
}
label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.edit input {
	border: 1px solid #DDD;	
}
.edit-btn,.del-btn {
	width: 190px;
	margin:20px auto;
}
.edit-sure,.del-sure,.edit-no,.del-no {
	width: 80px;
	height:40px;
	background: #FFF;
	border: 1px solid #DDD;
}
.edit-sure,.del-sure {
	margin-right: 30px;
}
.tips {
	text-align: center;
	height:60px;
	margin-top: 20px;
}
.cover {
	width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    background-color:#000;
    opacity:0.5;
    display: none;
}
